<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153274913242-cagqfrsfvpud5akut4ca5shohvcsq57q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153274913242-cagqfrsfvpud5akut4ca5shohvcsq57q</string>
	<key>API_KEY</key>
	<string>AIzaSyDeiWLBo1TmRghFr9BlSs4FcK_ZaoBJP_k</string>
	<key>GCM_SENDER_ID</key>
	<string>153274913242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.iosProject</string>
	<key>PROJECT_ID</key>
	<string>finalproject-6e767</string>
	<key>STORAGE_BUCKET</key>
	<string>finalproject-6e767.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153274913242:ios:69b1756afaeb1508d6f0e3</string>
</dict>
</plist>