<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072934505683-3nb73ohurlsd4hhglhder9csvg9am9tt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072934505683-3nb73ohurlsd4hhglhder9csvg9am9tt</string>
	<key>API_KEY</key>
	<string>AIzaSyC4XI59pGX0s-Kai_6-7CIF-kzF1inIKFs</string>
	<key>GCM_SENDER_ID</key>
	<string>1072934505683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Lipolin.iosProject</string>
	<key>PROJECT_ID</key>
	<string>auth-3f62f</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-3f62f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072934505683:ios:6be8bf02dda8529bd81826</string>
</dict>
</plist>